body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.btn-submit {
    background-color: #445261;
    color: #F9FAFC;
}

.custom-gray {
    background-color: #777;
}

.dark-bg {
    background-color: #445261;
}

.footer-copy {
    font-family: Lato, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.main-bg {
    background-color: #F9FAFC;
}
